.scrollable{
  max-height:500px;
  width: 100%;
  overflow:scroll;
  display: block;
}

.launchPhoto{
  height:500px;
  display:block;
}

.title{
  color: #FFC0CB;
  text-align: center;
}

.subtitle{
  text-align: center;
}